<h1>Post</h1>

<!-- <div class="post">
  <img class="thumbnail" src="<%#=@post.thumbnail%>" alt="">
  Title: <%#=@post.title %>
  Score: <%#=@post.score %>
  <br>
</div> -->

<%# binding.pry %>
<% @comments.each do |array|%>
  <% array.each do |comment| %>
    <div class="comment" style="position:relative;margin-left:30px;">

    <p> Author: <%= comment.author %> </p>
    <p> Score: <%= comment.score %> </p>
    <%= comment.body %>
    <%#= comment.body_html.html_safe %>
    <%# comment.replies.each do |reply| %>
      <!-- Author: <%#= reply.author %>
      Score: <%#= reply.score %>
      <%#= reply.body %> -->
      <%#= reply.body_html.html_safe %>
    <%# end %>
  </div>
    <br>
  <% end %>
<% end %>
